* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $primary-font;
  background: $bg-color;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  color: white;
  font-weight: 600;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 19px;
  }

  p {
    font-size: 16px;
  }
}

main {
  background: $bg-color;
  height: 1200px;
  display: block;
}

#seccion-contacto {
  background: linear-gradient(
    to bottom,
    #00000000,
    rgba($color-4-dark, 0.2),
    #00000000
  );
}

#seccion-conocimientos {
  background: linear-gradient(
    to bottom,
    #00000000,
    rgba($color-5-dark, 0.2),
    #00000000
  );
}

#seccion-proyectos {
  background: linear-gradient(
    to bottom,
    #00000000,
    rgba($color-6-dark, 0.2),
    #00000000
  );
}
