{% extends 'base.html' %}

{% block head %}
<title>Pagina demo</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<header>
    <div class = "greet__top">
        paaaaaaa papapapapappa
    </div>
    <div class = "greet__middle">
        aaaaaaaaaaaaaaaaaaaaaaaa
    </div>
</header>
<main>
    <div class = "infobox__container">
        <div class = "infobox__items">
            <div class = "infobox__title">
                <h3>
                    Informacion:
                </h3>
                <div class="infobox__title__icon">
                    <i class = "bi bi-caret-down-fill"></i>
                </div>
            </div>
            <div class="infobox__contenido">
                <p id = "navText" class = "infobox__text" style = "opacity: 0;">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti delectus nihil dolor ex necessitatibus vel quisquam blanditiis consectetur dolore, libero autem dicta, cum mollitia aspernatur, quidem ab molestias ratione laboriosam.
                </p>
                <div id = "navFooter" class = "infobox__footer__items" style = "opacity: 0;">
                    <i class="bi bi-envelope-fill" style = "font-size: 24px; margin-top: -14px;"></i>
                    <p class = "infobox__contact">sivapapa&#64;waos.pe</p>                   
                    <i class="bi bi-phone-fill" style = "font-size: 24px; margin-top: -18px;"></i>
                    <p class = "infobox__contact">+69 420 13 8</p>
                </div>
            </div>
        </div>
        <div class = "infobox__items">
            <div class = "infobox__title" style = "background: linear-gradient(to right,#ff5495,#ff8ec8,#ff55f9);">
                <h3>
                    Informacion:
                </h3>
                <div class="infobox__title__icon">
                    <i class = "bi bi-caret-down-fill"></i>
                </div>
            </div>
            <div class="infobox__contenido">
                <p id = "navText" class = "infobox__text" style = "opacity: 0;">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti delectus nihil dolor ex necessitatibus vel quisquam blanditiis consectetur dolore, libero autem dicta, cum mollitia aspernatur, quidem ab molestias ratione laboriosam.
                </p>
                <div id = "navFooter" class = "infobox__footer__items" style = "opacity: 0;">
                    <i class="bi bi-envelope-fill" style = "font-size: 24px; margin-top: -14px;"></i>
                    <p class = "infobox__contact">sivapapa&#64;waos.pe</p>                   
                    <i class="bi bi-phone-fill" style = "font-size: 24px; margin-top: -18px;"></i>
                    <p class = "infobox__contact">+69 420 13 8</p>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="./static/js/main.js"></script>
{% endblock %}